<body>
<div>
    <center><h3>Farmacia Loida Hinojosa</h3></center>
    <hr/>
</div>

<div class="container">
    <center><h3>VENTAS ENTRE FECHAS</h3></center>
    <center><h3>(Del <%= @fecha_ini %> al <%= @fecha_end %>)</h3></center>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>CI</th>
                <th>TOTAL</th>
                <th>FECHA VENTA</th>
                <th>USUARIO</th>
            </tr>
        </thead>
        <tbody>
            <% total = 0.0 %>
            <% @sells.each do |sell| %>
                <tr>
                <td><%= sell.id %></td>
                <td><%= sell.ci %></td>
                <td><%= sell.total %></td>
                <td><%= sell.date_sell %></td>
                  <td><%= sell.user_email %></td>
                </tr>
                <% sell_total = sell.total != nil ? sell.total : 0.0%>
                <% total = total + sell_total  %>
        <%end%>
        </tbody>
    </table>
    <strong>TOTAL: <%= total %> BS</strong>
</div>
</body>
